@model IEnumerable<PremierLeaguePortal.Areas.Administration.Models.BlogViewModel>

@{
    ViewBag.Title = "Publish pannel";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>        
        <th>
            Image Preview
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @if (item.HeaderImage != null)
                {
                    <img class="img-fluid image-tumb" src="@Url.Content("~/" + item.HeaderImage.ImagePhysicalPath)" alt="Image" />
                }
            </td>
            <td>
                @Html.ActionLink("Publish", "Publish", new { id = item.Id }, new { @class = "plp-actionlink" })
                <br />
                @Html.ActionLink("Edit", "Edit", "Blogs", new { id = item.Id }, new { @class = "plp-actionlink" })
            </td>
        </tr>
    }

</table>
