@model PremierLeaguePortal.Models.HomeViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Publish</h2>


@using (Html.BeginForm("Publish", "PublishContent", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/_BlogTemplate.cshtml", Model)        
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Publish" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
    @*</div>*@
}

<div class="container-fluid">
    <div class="col-md-6">
        @plp_Helpers.GenerateActionLinkButton(Url, "Index", "PublishContent", PremierLeaguePortal.Models.ELinkType.BACK, "Back to List")
    </div>
    <div class="col-md-6">
        @plp_Helpers.GenerateParamButton(Url, "Edit", "Blogs", PremierLeaguePortal.Models.ELinkType.EDIT, "Edit blog", Model.Id)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
