@model PremierLeaguePortal.Areas.Administration.Models.BlogViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Publish</h2>


@using (Html.BeginForm("Publish", "PublishContent", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Blog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group form-group-lg">
            @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Header
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubHeader, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.SubHeader
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Category
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Content
            </div>
        </div>
        @if (Model.HeaderImage != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.HeaderImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model.HeaderImage != null)
                    {
                        <img class="img-fluid image-tumb" src="@Url.Content("~/" + Model.HeaderImage.ImagePhysicalPath)" alt="Image" />
                    } 
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Publish" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "plp-actionlink plp-nopadding" })
    <br />
    @Html.ActionLink("Edit blog", "Edit", "Blogs", new { id = Model.Id }, new { @class = "plp-actionlink plp-nopadding" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
