@model PremierLeaguePortal.Models.HomeViewModel


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row plp-row-margin-b-t">
                <h1 class="col-md-12 text-center">
                    <strong>@Html.DisplayFor(model => model.Header)</strong>
                </h1>
            </div>
            <div class="row plp-row-margin-b-t">
                <h3 class="col-md-12 text-center">
                    <strong>@Html.DisplayFor(model => model.SubHeader)</strong>
                </h3>
            </div>
            @if (Model.HeaderImage != null)
            {
                <div class="row plp-row-margin-b-t">
                    <div class="col-md-12 text-center">
                        <img src="@Url.Content("~/" + Model.HeaderImage.ImagePhysicalPath)" alt="Image" style="max-width: 100%;" />
                    </div>
                </div>
            }
            <div class="row plp-row-margin-b-t">
                <div class="col-md-12">
                    <strong>@Html.DisplayFor(model => model.CategoryText)</strong>
                </div>
            </div>
            <div class="row plp-row-margin-b-t">
                <div class="col-md-12">
                    <strong>Дата: @Html.DisplayFor(model => model.PublishedOn)</strong>
                </div>
            </div>
            <div class="row plp-row-margin-b-t">
                <div class="col-md-12">
                    @Html.Raw(Model.Content)
                </div>
            </div>
            <div class="row plp-row-margin-b-t">
                <div class="col-md-12">
                    <strong>Автор: @Html.DisplayFor(model => model.ApplicationUser.NickName)</strong>
                </div>
            </div>

            <div class="row plp-row-margin-b-t">
                <div class="col-md-12 text-center">
                    @plp_Helpers.FacebookShareHelper("http://fantasypremierleague-bg.com/BlogCategory/BlogDetails/" + Model.Id, Model.Header)
                </div>
            </div>
            <div class="row plp-row-margin-b-t">
                <div class="col-md-12 text-center">
                    @plp_Helpers.FacebookCommentHelper("http://fantasypremierleague-bg.com/BlogCategory/BlogDetails/" + Model.Id)
                </div>
            </div> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row plp-row-margin-b-t">
                <h3 class="text-center">Още от категорията (@Model.CategoryText)</h3>
            </div>  
            @if (Model.OthersInCategory != null)
            {
                foreach (var item in Model.OthersInCategory)
                {
                    <a href="@Url.Action("BlogDetails", "BlogCategory", new { id = item.Id })" class="plp-homeAnchor">
                        <div class="row plp-row-margin-b-t">
                            <h5 class="col-md-12">
                                @item.Header
                            </h5>
                            <div class="plp-image-thumb-container">
                                @plp_Helpers.RenderImage(item.HeaderImage, "img-thumbnail img-responsive plp-homePageThumb", Url)
                            </div>
                        </div>
                    </a>
                }
            }
        </div>

    </div>
</div>

