<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FPL Портал</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("FbMetas", false)
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.10&appId=1703869673200333";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @{
        var area = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"];
    }

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Начало", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (area == null)
                    {
                        @*<li>@Html.ActionLink("Начало", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("За Нас", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                        if (this.User.IsInRole("SuperUser") || this.User.IsInRole("Author"))
                        {
                            <li>@Html.ActionLink("Администрация", "Index", "Blogs", new { area = "Administration" }, null)</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Публична Част", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Блог", "Index", "Blogs")</li>
                        if (this.User.IsInRole("SuperUser"))
                        {
                            <li>@Html.ActionLink("Менажиране на роли", "Index", "UserRole")</li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - FPL Портал</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plp-scripts")
    <script>
    </script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/tinymce/tinymce.js"></script>
</body>
</html>
