@model PremierLeaguePortal.Models.HomeViewModel
@{
    ViewBag.Title = Model.Header;
    var url = "http://fantasypremierleague-bg.com/BlogCategory/BlogDetails/" + Model.Id;
}
@section FbMetas
{
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Header" />
    <meta property="og:description" content="@Model.PreviewContent" />
    @if (Model.HeaderImage != null)
    {
        <meta property="og:image" content="@Model.HeaderImage.ImageServerPath" />
    }
}
@Html.Partial("_BlogTemplate", Model)
<div class="container-fluid">
    <div class="row plp-row-margin-b-t">
        <div class="col-md-6">
            @plp_Helpers.GenerateActionLinkButton(Url, "Index", "Home", PremierLeaguePortal.Models.ELinkType.BACK, "Начало")
        </div>
        <div class="col-md-6">
            @plp_Helpers.GenerateActionLinkButton(Url, Model.Category.ToString(), "BlogCategory", PremierLeaguePortal.Models.ELinkType.DETAILS, "Още от тази категория")            
        </div>
    </div>
</div>