@using System.Web.Mvc
@using PremierLeaguePortal.Models

@helper BlogItemPreview(HomeViewModel item, UrlHelper url)
{
    <a href="@url.Action("BlogDetails", "BlogCategory", new { id = item.Id })" class="plp-homeAnchor">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 plp-homeItem">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    @plp_Helpers.RenderImage(item.HeaderImage, "img-thumbnail img-responsive plp-homePageThumb", url)
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <h2>@item.Header</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <h3>@item.SubHeader</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <h5>@item.PreviewContent</h5>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div>Автор: @item.ApplicationUser.NickName | Дата: @item.PublishedOn</div>
        </div>
    </a>
}

@helper RenderImage(Image image, string classes, UrlHelper url)
{
    if(image != null)
    {
        <img src="@url.Content("~/" + @image.ImagePhysicalPath)" alt="Image" class="@classes" />
    }
    else
    {
        <img src="@url.Content("~/images/sysimages/no-image-available.jpg")" alt="Image" class="@classes" />
    }
}

@helper FacebookShareHelper(string urlToShare, string title)
{
    <div class="fb-share-button" data-href="@urlToShare" data-layout="button" data-size="large" data-mobile-iframe="true" data-title="@title">    
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffantasypremierleague-bg.com%2F&amp;src=sdkpreparse">Споделяне</a>
    </div>
}

@helper FacebookCommentHelper(string urlToShare)
{
    <div class="col-md-12 text-center">
        <div class="fb-comments" data-href="@urlToShare" data-numposts="5" style="width: 100%"></div>
    </div>
}

@helper GenerateActionLinkButton(UrlHelper url, string method, string controller, ELinkType type, string label)
{
switch (type)
{
    case ELinkType.BACK:
            <input type="button" class="btn btn-warning btn-block btn-lg" value="@label" onclick="location.href='@url.Action(method, controller)'" />
        break;
    case ELinkType.DETAILS:
            <input type="button" class="btn btn-success btn-block btn-lg" value="@label" onclick="location.href='@url.Action(method, controller)'" />
        break;
    default:
        break;
}
}

@helper GenerateParamButton(UrlHelper url, string method, string controller, ELinkType type, string label, object idParam = null, bool disable = false)
{
string cssClasses = string.Empty;
if (disable)
{
    cssClasses = "disabled";
}
switch (type)
{

    case ELinkType.EDIT:
        cssClasses += " btn btn-success btn-block btn-lg";

            <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />
        break;
    case ELinkType.DETAILS:
        cssClasses += " btn btn-info btn-block btn-lg";
            <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />

        break;
    case ELinkType.DELETE:
        cssClasses += " btn btn-warning btn-block btn-lg";
            <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />
        break;
    case ELinkType.CREATE:
        cssClasses += " btn btn-success btn-block btn-lg";
        if (disable)
        {
                <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" disabled />
        }
        else
        {
                <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />
        }
        break;
    default:
        break;
}
}
