@using System.Web.Mvc
@using PremierLeaguePortal.Models

@helper FacebookShareHelper(string urlToShare, string title)
{
    <div class="fb-share-button" data-href="@urlToShare" data-layout="button" data-size="large" data-mobile-iframe="true" data-title="@title">    
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffantasypremierleague-bg.com%2F&amp;src=sdkpreparse">Споделяне</a>
    </div>
}

@helper FacebookCommentHelper(string urlToShare)
{
    <div class="col-md-12 text-center">
        <div class="fb-comments" data-href="@urlToShare" data-numposts="5" style="width: 100%"></div>
    </div>
}

@helper GenerateActionLinkButton(UrlHelper url, string method, string controller, ELinkType type, string label)
{
switch (type)
{
    case ELinkType.BACK:
            <input type="button" class="btn btn-warning btn-block btn-lg" value="@label" onclick="location.href='@url.Action(method, controller)'" />
        break;
    case ELinkType.DETAILS:
            <input type="button" class="btn btn-success btn-block btn-lg" value="@label" onclick="location.href='@url.Action(method, controller)'" />
        break;
    default:
        break;
}
}

@helper GenerateParamButton(UrlHelper url, string method, string controller, ELinkType type, string label, object idParam = null, bool disable = false)
{
string cssClasses = string.Empty;
if (disable)
{
    cssClasses = "disabled";
}
switch (type)
{

    case ELinkType.EDIT:
        cssClasses += " btn btn-success btn-block btn-lg";

            <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />
        break;
    case ELinkType.DETAILS:
        cssClasses += " btn btn-info btn-block btn-lg";
            <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />

        break;
    case ELinkType.DELETE:
        cssClasses += " btn btn-warning btn-block btn-lg";
            <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />
        break;
    case ELinkType.CREATE:
        cssClasses += " btn btn-success btn-block btn-lg";
        if (disable)
        {
                <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" disabled />
        }
        else
        {
                <input type="button" class="@cssClasses" value="@label" onclick="location.href='@url.Action(method, controller, new { id = idParam})'" />
        }
        break;
    default:
        break;
}
}
