@model PremierLeaguePortal.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <div class="container-fluid">
        <div class="row plp-row-margin-b-t">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Header)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Header)
            </div>
        </div>
        <div class="row plp-row-margin-b-t">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.SubHeader)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.SubHeader)
            </div>
        </div>
        <div class="row plp-row-margin-b-t">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Content)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Content)
            </div>
        </div>
        <div class="row plp-row-margin-b-t">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Category)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Category)
            </div>
        </div>
        <div class="row plp-row-margin-b-t">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </div>
        </div>
        @if (Model.HeaderImage != null)
        {
            <div class="row plp-row-margin-b-t">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.HeaderImage)
                </div>
                <div class="col-md-10">
                    <img src="@Url.Content("~/" + Model.HeaderImage.ImagePhysicalPath)" alt="Image" class="image-tumb-edit" />
                </div>
            </div>
        }
        <div class="row plp-row-margin-b-t">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Tags)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Tags)
            </div>
        </div>
        @*<div class="row plp-row-margin-b-t">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.IFrame)
            </div>
            <div class="col-md-10">
                <iframe src="@Model.IFrame" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>*@
        <div class="row plp-row-margin-b-t">
            <div class="col-md-6">
                @plp_Helpers.GenerateParamButton(Url, "Edit", "Blogs", PremierLeaguePortal.Models.ELinkType.EDIT, "Edit", Model.Id)                
            </div>
            <div class="col-md-6">
                @plp_Helpers.GenerateActionLinkButton(Url, "Index", "Blogs", PremierLeaguePortal.Models.ELinkType.BACK, "Back to List")
            </div>
        </div>
    </div>
</div>






