@model PremierLeaguePortal.Areas.Administration.Models.BlogViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Blogs", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Blog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group form-group-lg">
            @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubHeader, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubHeader, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubHeader, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Category, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = "30" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HeaderImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="HeaderImageFile" name="HeaderImageFile" />
            </div>
        </div>
        @if (Model.HeaderImage != null)
        {
                @Html.LabelFor(model => model.HeaderImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <img src="@Url.Content("~/" + Model.HeaderImage.ImagePhysicalPath)" alt="Image" class="image-tumb-edit" />
        }
        <div class="btn-group btn-group-justified">
            <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            <input type="button" class="btn btn-warning btn-block btn-lg" value="Back to List" onclick="location.href='@Url.Action("Index", "Blogs")'" />
            @*@Html.ActionLink("Back to List", "Index", null, new { @class = "plp-actionlink btn btn-success btn-block btn-lg" })*@
        </div>
        
        
        @Html.HiddenFor(m => m.CreatedOn)
        @if (Model.HeaderImage != null)
        {
            @Html.HiddenFor(m => m.HeaderImage.CreatedOn)
            @Html.HiddenFor(m => m.HeaderImage.Description)
            @Html.HiddenFor(m => m.HeaderImage.Id)
            @Html.HiddenFor(m => m.HeaderImage.ImageName)
            @Html.HiddenFor(m => m.HeaderImage.ImagePhysicalPath)
            @Html.HiddenFor(m => m.HeaderImage.ImageServerPath)
            @Html.HiddenFor(m => m.HeaderImage.Type)
        }       
    </div>
}

<div>
    
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
