@model IEnumerable<PremierLeaguePortal.Areas.Administration.Models.BlogViewModel>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New", "Create", null, new { @class = "plp-actionlink plp-nopadding btn btn-primary btn-block" })
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(model => model.Header)</div>
        <div class="col-md-2">@Html.DisplayNameFor(model => model.Category)</div>
        <div class="col-md-2">@Html.DisplayNameFor(model => model.SubHeader)</div>
        <div class="col-md-2">@Html.DisplayNameFor(model => model.Content)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.HeaderImage)</div>
        <div class="col-md-1">@Html.DisplayNameFor(model => model.IsPublished)</div>
        @*<div class="col-md-2">Действия</div>*@ 
        
    </div>
    @foreach(var item in Model)
    {
        <div class="row">
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Header)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Category)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.SubHeader)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.ShortContent)</div>
            <div class="col-md-3">
                @if (item.HeaderImage != null)
                {
                    <img src="@Url.Content("~/" + item.HeaderImage.ImagePhysicalPath)" alt="Image" class="image-tumb" />
                }
            </div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => item.IsPublished)</div>            
        </div>
        <div class="row plp-row-margin-b-t">
            <div class="btn-group btn-group-justified">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "plp-actionlin btn btn-success btn-block btn-lg" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "plp-actionlink btn btn-info btn-block btn-lg" })
                @Html.ActionLink("Publish", "Publish", new { id = item.Id }, new { @class = "plp-actionlink btn btn-primary btn-block btn-lg" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "plp-actionlink btn btn-warning btn-block btn-lg" })
            </div>
        </div>
    }
</div>

