@model IEnumerable<PremierLeaguePortal.Models.HomeViewModel>
@using PremierLeaguePortal.Models

@{
    ViewBag.Title = "Начало";
    var analysis = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.Analysis && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
    var transfers = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.Transfers && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
    var news = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.News && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
}

<div class="jumbotron">
    <h1>Fantasy Premier League Портал</h1>
    <p class="lead">Най-точното място за fantasy феновете на България! Мястото, което ти дава възможност и ти да станеш автор!</p>
    <p><a href="https://fantasy.premierleague.com" class="btn btn-primary btn-lg">Официалната игра &raquo;</a></p>
</div>
<div class="container-fluid">
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "News", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "News", null)</h2>
        @for (int i = 0; i < news.Count; i++)
        {
            <a href="@Url.Action("BlogDetails", "BlogCategory", new { id = news[i].Id })">
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    <div>@news[i].Header</div>
                    <div>@news[i].SubHeader</div>
                    @if (news[i].HeaderImage != null)
                    {
                        <img src="@Url.Content("~/" + news[i].HeaderImage.ImagePhysicalPath)" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/sysimages/no-image-available.jpg")" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    <div>@Html.Raw(@news[i].ShortContent)</div>
                    <div>@news[i].ApplicationUser.NickName</div>
                    @*@plp_Helpers.GenerateParamButton(Url, "BlogDetails", "BlogCategory", PremierLeaguePortal.Models.ELinkType.DETAILS, "Още", transfers[i].Id)*@
                </div>
            </a>
        }
    </div>
    <div style="clear: both"></div>
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "Analysis", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Анализи", null)</h2>
        @for (int i = 0; i < analysis.Count; i++)
        {
            <a href="@Url.Action("BlogDetails", "BlogCategory", new { id = analysis[i].Id })">
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    <h2>@analysis[i].Header</h2>
                    <h4>@analysis[i].SubHeader</h4>
                    @if (analysis[i].HeaderImage != null)
                    {
                        <img src="@Url.Content("~/" + analysis[i].HeaderImage.ImagePhysicalPath)" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/sysimages/no-image-available.jpg")" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    <div class="plp-blog-row-preview">@Html.Raw(analysis[i].ShortContent)</div>
                    <div>@analysis[i].ApplicationUser.NickName</div>
                </div>
            </a>
        }
    </div>
    <div style="clear: both"></div>
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "Transfers", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Трансфери", null)</h2>
        @for (int i = 0; i < transfers.Count; i++)
        {
            <a href="@Url.Action("BlogDetails", "BlogCategory", new { id = transfers[i].Id })">
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    <div>@transfers[i].Header</div>
                    <div>@transfers[i].SubHeader</div>
                    @if (transfers[i].HeaderImage != null)
                    {
                        <img src="@Url.Content("~/" + transfers[i].HeaderImage.ImagePhysicalPath)" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/sysimages/no-image-available.jpg")" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    <div>@Html.Raw(@transfers[i].ShortContent)</div>
                    <div>@transfers[i].ApplicationUser.NickName</div>
                    @*@plp_Helpers.GenerateParamButton(Url, "BlogDetails", "BlogCategory", PremierLeaguePortal.Models.ELinkType.DETAILS, "Още", transfers[i].Id)*@
                </div>
            </a>
        }
    </div>
    
    <div style="clear: both"></div>
</div>

