@model IEnumerable<PremierLeaguePortal.Models.HomeViewModel>


@{
    ViewBag.Title = "Начало";
    var analysis = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.Analysis && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
    var transfers = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.Transfers && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
    var news = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.News && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
}

<div class="jumbotron">
    <h1>Fantasy Premier League Портал</h1>
    <p class="lead">Най-точното място за fantasy феновете на България! Мястото, което ти дава възможност и ти да станеш автор!</p>
    <p><a href="https://fantasy.premierleague.com" class="btn btn-success btn-lg" target="_blank">Официалната игра &raquo;</a></p>
</div>
<div class="container-fluid">
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "News", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Новини", null)</h2>
        @for (int i = 0; i < news.Count; i++)
        {
            @plp_Helpers.BlogItemPreview(news[i], Url)
        }
    </div>
    <div style="clear: both"></div>
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "Analysis", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Анализи", null)</h2>
        @for (int i = 0; i < analysis.Count; i++)
        {
            @plp_Helpers.BlogItemPreview(analysis[i], Url)
        }
    </div>
    <div style="clear: both"></div>
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "Transfers", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Трансфери", null)</h2>
        @for (int i = 0; i < transfers.Count; i++)
        {
            @plp_Helpers.BlogItemPreview(transfers[i], Url)
        }
    </div>    
    <div style="clear: both"></div>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
           @plp_Helpers.FacebookShareHelper("http://fantasypremierleague-bg.com/", ViewBag.Title)
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

