@model IEnumerable<PremierLeaguePortal.Models.HomeViewModel>


@{
    ViewBag.Title = "Начало";
    var analysis = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.Analysis && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
    var transfers = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.Transfers && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
    var news = Model.Where(b => b.Category == PremierLeaguePortal.Models.EBlogCategory.News && b.IsPublished == true)
        .OrderByDescending(b => b.PublishedOn).Take(3).ToList();
}

<div class="jumbotron">
    <h1>Fantasy Premier League Портал</h1>
    <p class="lead">Най-точното място за fantasy феновете на България! Мястото, което ти дава възможност и ти да станеш автор!</p>
    <p><a href="https://fantasy.premierleague.com" class="btn btn-success btn-lg" target="_blank">Официалната игра &raquo;</a></p>
</div>
<div class="container-fluid">
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "News", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Новини", null)</h2>
        @for (int i = 0; i < news.Count; i++)
        {
            <a href="@Url.Action("BlogDetails", "BlogCategory", new { id = news[i].Id })">
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    @if (news[i].HeaderImage != null)
                    {
                        <img src="@Url.Content("~/" + news[i].HeaderImage.ImagePhysicalPath)" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/sysimages/no-image-available.jpg")" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    <h3 class="plp-homeHeader">@news[i].FixedHeader</h3>
                    <br />
                    @*<h5 class="plp-homeSubheader">@news[i].SubHeader</h5>*@                    
                    <div>Автор: @news[i].ApplicationUser.NickName | Дата: @news[i].PublishedOn</div>
                </div>
            </a>
        }
    </div>
    <div style="clear: both"></div>
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "Analysis", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Анализи", null)</h2>
        @for (int i = 0; i < analysis.Count; i++)
        {
            <a href="@Url.Action("BlogDetails", "BlogCategory", new { id = analysis[i].Id })">
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    @if (analysis[i].HeaderImage != null)
                    {
                        <img src="@Url.Content("~/" + analysis[i].HeaderImage.ImagePhysicalPath)" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/sysimages/no-image-available.jpg")" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    <h3 class="plp-homeHeader">@analysis[i].FixedHeader</h3>
                    <br />
                    
                    <div>Автор: @analysis[i].ApplicationUser.NickName | Дата: @analysis[i].PublishedOn</div>
                </div>
            </a>
        }
    </div>
    <div style="clear: both"></div>
    <div class="row plp-homeCategory">
        <h2>@plp_Helpers.GenerateParamButton(Url, "Transfers", "BlogCategory", PremierLeaguePortal.Models.ELinkType.CREATE, "Трансфери", null)</h2>
        @for (int i = 0; i < transfers.Count; i++)
        {
            <a href="@Url.Action("BlogDetails", "BlogCategory", new { id = transfers[i].Id })">
                <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                    @if (transfers[i].HeaderImage != null)
                    {
                        <img src="@Url.Content("~/" + transfers[i].HeaderImage.ImagePhysicalPath)" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/sysimages/no-image-available.jpg")" alt="Image" class="img-thumbnail img-responsive plp-homePageThumb" />
                    }
                    <h3 class="plp-homeHeader">@transfers[i].FixedHeader</h3>
                    <br />
                    @*<h5 class="plp-homeSubheader">@transfers[i].SubHeader</h5>*@
                    
                    <div>Автор: @transfers[i].ApplicationUser.NickName | Дата: @transfers[i].PublishedOn</div>
                </div>
            </a>
        }
    </div>    
    <div style="clear: both"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
           @plp_Helpers.FacebookShareHelper("http://fantasypremierleague-bg.com/", ViewBag.Title)
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

