@model PremierLeaguePortal.Areas.Administration.Models.PoolViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PoolViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PoolName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoolName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoolName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="plp-pool-item-list">
            @for (int i = 0; i < 2; i++)
            {
                @Html.LabelFor(model => model.Items[i].Label, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Items[i].Label, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    @*@Html.ValidationMessageFor(model => model.Items[i].Label)*@
            }
        </div>
        <input type="button" value="add new item" id="plp-add-item"/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    //$("#plp-add-item").click(function () {
    //    alert("Handler for .click() called.");
    //});
    //$("#plp-add-item").click(function () {
    //    var itemListEl = $("#plp-pool-item-list");
    //    alert('hi');
    //});
    
</script>
