@model IEnumerable<PremierLeaguePortal.Areas.Administration.Models.PoolViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Анкети</h2>

@Html.ActionLink("Create New", "Create", null, new { @class = "plp-actionlink plp-nopadding btn btn-success btn-block" })
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">@Html.DisplayNameFor(model => model.PoolName)</div>
        <div class="col-md-6">@Html.DisplayNameFor(model => model.IsActive)</div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-6">@Html.DisplayFor(modelItem => item.PoolName)</div>
            @if (item.IsActive)
            {
                <div class="col-md-6">Активна анкета</div>
            }
            else
            {
                <div class="col-md-6">Неактивна анкета</div>
            }
        </div>
        <div class="row plp-row-margin-b-t">
            <div class="col-md-3">
                @plp_Helpers.GenerateParamButton(Url, "Details", "Pool", PremierLeaguePortal.Models.ELinkType.DETAILS, "Details", item.Id)
            </div>
            @*<div class="col-md-2">
                @plp_Helpers.GenerateParamButton(Url, "Edit", "Pool", PremierLeaguePortal.Models.ELinkType.EDIT, "Edit", item.Id)
            </div>*@
            <div class="col-md-3">
                @{
                    bool disabled = item.IsActive;
                }
                @plp_Helpers.GenerateParamButton(Url, "Activate", "Pool", PremierLeaguePortal.Models.ELinkType.CREATE, "Activate", item.Id, disabled)
            </div>
            <div class="col-md-3">
                @{
                    disabled = item.IsActive;
                }
                @plp_Helpers.GenerateParamButton(Url, "Deactivate", "Pool", PremierLeaguePortal.Models.ELinkType.CREATE, "Deactivate", item.Id, !disabled)
            </div>
            <div class="col-md-3">
                @{
                    disabled = item.IsActive;
                }
                @plp_Helpers.GenerateParamButton(Url, "Delete", "Pool", PremierLeaguePortal.Models.ELinkType.DELETE, "Delete", item.Id, disabled)
            </div>
        </div>
     }
</div>