@model IEnumerable<PremierLeaguePortal.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Search</h3>
<div class="container-fluid">
    <div class="row plp-row-margin-b-t">
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.NickName)
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row plp-row-margin-b-t">
            <div class="col-md-3">
                @Html.DisplayFor(model => item.UserName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => item.FirstName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => item.LastName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => item.NickName)
            </div>
        </div>
        <div class="row plp-row-margin-b-t">
            <div class="col-md-6">
                @plp_Helpers.GenerateParamButton(Url, "AssignAuthorRole", "UserRole", PremierLeaguePortal.Models.ELinkType.CREATE, "Assign author right", item.Id)
            </div>
            <div class="col-md-6">
                @plp_Helpers.GenerateParamButton(Url, "Delete", "UserRole", PremierLeaguePortal.Models.ELinkType.DELETE, "Delete", item.Id)

            </div>
        </div>
    }
</div>
